/* App.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Set the global font */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light Mode (default) */
body {
  background-color: white;
  color: black;
}

/* Dark Mode */
body.dark-mode, html.dark-mode {
  background-color: #181818;
  color: white;
}

/* Apply to other global elements if necessary */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-size: 14px;
  /* Set a base font size */
}